
.header{
    background-color: rgb(255, 165, 0);
    background-size: cover;
    height: 77vh;
    padding: 30px 15px;
    background-position: center;
    -webkit-clip-path: polygon(0 7%, 18% 7%, 23% 0, 40% 0, 45% 7%, 76% 7%, 81% 0, 100% 0, 100% 100%, 95% 100%, 90% 90%, 65% 90%,  60% 100%, 40% 100%, 35% 93%, 20% 93%, 15% 100%, 0 100%);
    clip-path: polygon(0 7%, 18% 7%, 23% 0, 40% 0, 45% 7%, 76% 7%, 81% 0, 100% 0, 100% 100%, 95% 100%, 90% 90%, 65% 90%, 60% 100%, 40% 100%, 35% 93%, 20% 93%, 15% 100%, 0 100%);
}

.header h1{
    font-size: 20px;
}

.sintomas h2,
.casos-reais h2,
.curiosidades h2,
.contato h2{
    font-size: 16px;
}

.sintomas td{
    font-weight: bold;
    text-transform: uppercase;
}

.casos-reais__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casos-reais__div-1,
.casos-reais__div-2{
    border: 2px solid rgb(255, 165, 0);
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

.casos-reais h3{
    font-size: 14px;
}

.casos-reais__div-1 ul,
.casos-reais__div-2 ul{
    padding: 0 30px;
    text-align: left;
}

.contato__div{
    display: flex;
}

.contato__form{
    width: 65%;
}
.contato__links{
    width: 35%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

textarea{
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0 0 10px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
}

textarea:focus{
    outline: none;
    border-color: rgb(255, 165, 0);
    box-shadow: 0 0 10px rgb(255, 165, 0);
}

.button {
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    background: rgba(255, 165, 0, 0.8);
    border: 1px solid rgb(255, 165, 0, 0.8);
    border-radius: 5px;
}

@media (min-width: 768px){

    .header h1{
    font-size: 24px;
}
    .header p{
        font-size: 14px;
    }
}
