.navbar__menu{
    align-items: center;
    display: flex;
}

.navbar__menu-list{
    display: none;
}


@media (min-width: 768px){

}

@media (min-width: 1024px){
    .navbar__menu-barras{
        display: none;
    }
    .navbar__menu-list{
        display: flex;
        flex-direction: row;
    }
    .navbar__menu-list a{
        text-decoration: none;
    }
    .navbar__menu-list li{
        list-style: none;
        padding: 12px;
        margin-top: 28px;
        color: rgb(255, 165, 0);
        font-weight: bolder;
        text-transform: uppercase;
    }
}

@media (min-width: 1440px){
    .navbar__menu-list{
        display: flex;
    }
    .navbar__menu-list li{
        font-size: 16px;
    }
}